//STYLE DE NOTRE HEADER

.header-page {
  background-color: $color-bg-dark;

  padding: 20px 0;

  h1 {
    color: white;
    margin: 0 0 5px;
    padding: 20px;


  }

  p{
    margin:0
  }

}


@media screen and (min-width: $breakpoint-lg) {
  .header-page {
    h1 {
      padding: 0;
    }
  }
}





