.banniere-video{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vh;
  justify-items: center;
  align-items: center;

  overflow: hidden;


  video{
    width: 100%;
    display: none;
  }

  video, img, h2{
    grid-column: 1;
    grid-row: 1;
  }

  h2{
    color: $color-title-light;

    z-index: 3;
  }

  img{
    z-index: 2;
  }


}

@media screen and (min-width: $breakpoint-sm) {
  .banniere-video {
    video {
      display: block;
    }

    img {
      display: none;
    }
  }
}








//
//.banniere-video {
//
//  display: grid;
//  grid-template-columns: 1fr;
//  grid-template-rows: 50vh;
//  justify-items: center;
//  align-items: center;
//
//  overflow: hidden;
//
//  video {
//    width: 100%;
//  }
//
//  video, img, h2 {
//    grid-column: 1;
//    grid-row: 1;
//  }
//
//  h2{
//    color: $color-title-light;
//  }
//
//  img {
//    display: inline;
//  }
//
//}
//
//@media screen and (min-width: 500px) {
//  .banniere-video {
//    video {
//      display: block;
//    }
//
//    img {
//      display: none;
//    }
//  }
//
//}
